<!DOCTYPE html>
<html>
<head>
    <title>Login or Register</title>
</head>
<body>
    <h1>Welcome to Our Note-Taking App</h1>
    <div>
        <a href="/register"><button>Register</button></a>
        <a href="/login"><button>Login</button></a>
    </div>
</body>
</html>
